.h-100p {
    height: 100%;
}

.bg-lightblue {
    background-color: lightblue;
}

.pane1 {
    background-color: red;
}

.pane2 {
    background-color: greenyellow;
}

.pane3 {
    background-color: orange;
}



.pane-container {
    /* height: 830px; */
}



.vertical-cursur:hover {
    cursor: n-resize;
}

.horizontal-cursur:hover {
    cursor: e-resize;
}

.overflow-hidden {
 overflow: hidden;   
}