

//------------------------------------ Height Pixel ------------------------------------------------//
.h-8{
    height: 10px;
}

.h-10{
    height: 10px;
}

.h-12{
    height: 12px;
}

.h-300 {
    height: 300px;
}

.h-500{
    height: 500px;
}

//------------------------------------ Height Pixel ------------------------------------------------//


//------------------------------------Percent Height ------------------------------------------------//

.h-50p{
    height: 50%;
}

.h-70p {
    height: 70%;
}

.h-100p {
    height: 100%;
}

//------------------------------------Percent Height ------------------------------------------------//


//------------------------------------ Width Pixel ------------------------------------------------//

.w-8 {
    width: 8px;
}

.w-10{
    width: 10px;
}

.w-12{
    width: 12px;
}

.w-300 {
    width: 300px;
}

.w-m-1200 {
    max-width: 1200px;
}

//------------------------------------ Width Pixel ------------------------------------------------//



//------------------------------------Percent Width ------------------------------------------------//

.w-50p{
    width: 50%;
}

.w-70p {
    width: 70%;
}

.w-90p {
    width: 90%;
}

.w-100p {
    width: 100%;
}

//------------------------------------Percent Width ------------------------------------------------//