

.d-flex{
display: flex;
}

.ai-center{
    align-items: center;
}

.d-grid{
    display: grid;
}

.jc-center {
    justify-content: center;
}

//------------------------------------ Flex ------------------------------------------------//
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}
//------------------------------------ Flex ------------------------------------------------//



//------------------------------------ Positions ------------------------------------------------//

.p-relative {
    position: relative;
}

//------------------------------------ Positions ------------------------------------------------//