


.d-flex{
    display: flex;
}

.d-block {
    display: block;
}

.f-column{
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.h-200{
    height: 200px;
}

.w-fit-content{
    width: fit-content;
}

.m-auto {
    margin: auto;
}

.resizer {
    height: 12px;
    box-sizing: border-box;
    background-clip: padding-box;
    margin: -5px 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: row-resize;
    background-color: darkblue;
}

.resizer:hover{
    background-color: brown;
}


.full-page-class {
    display: block;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 1000px;
    bottom: 100px;
    width: 100%;
}