


.d-flex{
    display: flex;
}

.d-block {
    display: block;
}

.f-column{
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.h-200{
    height: 200px;
}

.w-fit-content{
    width: fit-content;
}

.m-auto {
    margin: auto;
}
