$mainBlue: #087eba;


//------------------------------------ Color ------------------------------------------------//

.t-color-mainBlue {
}

.color-red {
    color: red;
}

.darkslateblue{
    color: darkslateblue;
}

.white{
    color: white;
}

.max-limit-reached {
    color: red;
}

.min-limit-reached {
    color: red;
}


//------------------------------------ Color ------------------------------------------------//




//------------------------------------ Background Color ------------------------------------------------//


.bg-lightblue {
    background-color: lightblue;
}


//------------------------------------ Background Color ------------------------------------------------//




