.h-100p {
    height: 100%;
}

.w-100p{
    width: 100%;
}

.h-300{
    height: 300px;
}

.bg-lightblue {
    background-color: lightblue;
}

.pane1 {
    background-color: red;
}

.pane2 {
    background-color: rgb(103, 94, 235);
}

.pane3 {
    background-color: orange;
}



.pane-container {
    /* height: 830px; */
}



.vertical-cursur:hover {
    cursor: n-resize;
}

.horizontal-cursur:hover {
    cursor: e-resize;
}

.p-relative{
    position: relative;;
}

.t-100{
    top: 70px;
}

.radious-5 {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}
.display-flex{
    display: flex;
}